.section1 {
    background-image: url(../images/promo-background.jpeg);
    background-size: cover;
    width: 100%;
    height: 400px;
}

.list .navigation ul {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0;
}

.top-row .list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-weight: bold;
}

.top-row .logo {
    width: 50%;
}

.top-row .logo img {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.section1 .top-row .navigation {
    width: 65%;
}

.section1 .list .navigation .ul {
    position: absolute;
    bottom: 0;
    left: 170px;
    margin-bottom: 25px;
    color: aliceblue;
}

.navigation {
    position: relative;
}

.section1 .list .navigation .ul .li {
    margin-right: 15px;
}

.section1 h1 {
    text-align: center;
    color: aliceblue;
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

.divider-w {
    margin-left: 480px;
}

.section1 .btn {
    margin-left: 470px;
    margin-top: 40px;
}

.section1 .btn .btn1 {
    font-family: 'Kalam', cursive;
    background-color: black;
    opacity: 0.5;
    color: blanchedalmond;
    width: 110px;
    height: 30px;
}

.section1 .btn .btn2 {
    font-family: 'Kalam', cursive;
    background-color: rgb(211, 193, 193);
    opacity: 0.5;
    color: rgb(0, 0, 0);
    width: 110px;
    height: 30px;
}

/* section2 */

.section2 {
    background-image: url(../images/about-background.jpeg);
    width: 100%;
    height: 400px;
    margin-top: 0;
    position: relative;
    padding-top: 0;
}

.section2 .part1 {
    margin-left: 200px;

    font-family: 'Satisfy', cursive;
    line-height: 2.2em;
    padding-top: 5px;
}

.section2 .part2 {
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 720px;
    margin-bottom: 70px;
}

.section2 h1 {
    margin-top: 0;
}

.section3 {
    background: url(/images/ingredients-background.jpeg);
    width: 100%;
    height: 800px;
    background-size: cover;
}

.section3 .main {
    width: 350px;
    height: 400px;
    background-color: rgb(22, 19, 19);
    opacity: 0.7;
    display: flex;
    font-family: 'Caveat', cursive ;
    text-align: center;
   font-size: 20px;
   line-height: 1em;
   padding-right: 20px;
   padding-top: 7px;
}

.main h3{
    margin: 0;
}
.main .fine{
    padding-right: 60px;
}


/* .section3 .main .img1{

height: 100px;
width: 100px;

margin-top: 300px;

    margin-right: 800px;



}*/

/* .section3 .main .img2{

    height: 100px;
    width: 100px;

    margin-top: 300px;

        margin-right: 800px;





    }*/

/* .section3 img{
        width: 200px;
        height: 200px;

        margin-top: 270px;

    }


    .section3 .main{
        position: absolute;
        top: 0;
        right: 40px;
        margin-top: 40px;
    }



.section3  {

    position: relative;


}

.section3 .main .main1 img{

    width: 200px;
    height: 300px;




}

.section3 h1{
    text-align: center;
    color: wheat;

    margin-left: 300px;
}

/* .img3{

    position: absolute;

    left: 90px;

    bottom: 10px;

}

.img2{

    margin-bottom: 80px;

    width: 20px;
} */

/* .figure{
    display: flex;
    justify-content: center;
    width: 100%;
}*/

.figure {
    position: relative;
}

.figure-pics {
    display: flex;
    width: 800px;
}

.figure-pics img {

    height: 60px;
    width: 80px;
}

.main {
    position: relative;
    top: 100px;
    left: 800px;
    width: 100px;
}

.section3 {
    position: relative;
    
}

.main1 h1 {
    text-align: center;
    color: white;
}

.main1 {
    height: 70px;
    height: 30px;
    background-color: yellow;
    display: inline-block;
}



/* .figure{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    } */

.img3, .img1, .img2 {
    width: 100px;
    height: 80px;
    display: block;
}

.img1 {
    position: absolute;
    bottom: 0;
    right: 250px;
}

.img2 {
    position: absolute;
    bottom: 0;
    left: 130px;
}

.img3 {
    position: absolute;
    bottom: 0;
    left: 250px;
    
}

.main h1 {
    color: white;
    text-align: center;
    margin-left: 70px;
}

.main p {
    margin-top: 100px;
    color: #f5f5f5;
    position: relative;
    width: 200px;
    height: 80px;
    bottom: 0;
    right: 100px;
}

/* section 4 */

/* .section4 {
    background-image: url(/images/menu-background.jpeg);
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
} */
/* 
.section4 .food .Appetisers {
    width: 100%;
    height: 100%;
} */

/* .section4 .food {
    width: 80%;
    height: 100%;
    border: crimson;
}

.section4 .food .T {
    float: left;
    font-size: 10px;
}

.section4 .food .num1 {
    float: right;
    text-align: right;
    width: 20%;
    font-size: 10px;
}

.section4 .food p {
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-size: 10px;
    margin: 0;
}

.section4 .khat {
    border: 1px solid #cc9900;
}

.Appetieres{
    width: 400px;
    height: 150px;
}

hr {} */
.section4{


    width: 100%;
    height: 700px;
    background-color: rgb(139, 128, 65);
    background-image: url(../images/menu-background.jpeg);
    display: flex;
}




.twopart1{
    padding: 5%;
    width: 30%;
    /* display: inline-block; */
    vertical-align: middle;
    padding-top: 0;

    padding-top: 20px;
    text-align: center;
    

    
  

}

.apetit{
    padding-top: 6%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    width: 350px;
    
    background-color: rgb(136, 123, 46);

    font-family: 'Caveat', cursive ;
    
}




 .apetit .T{
    float: left;
    text-align: left;
    width: 30%;
    

}


 .apetit  .num1 {
    float: right;
    text-align: right;
    width: 30%;
    
    
}

.twopart1 .h3{
    font-family: 'Caveat', cursive ;
}




.spezial{
    background-color: gold;
    width: 20%;
    margin-top: 4%;
    margin-left: 75%;
    text-align: center;
    font-family: 'Caveat', cursive ;
}

.sp{
    border: 1px solid rgb(68, 60, 14);
    padding-left: 3px;
    background-color: rgb(136, 123, 46);
    width: 350px;
}

.sp .T{
    float: left;
    
}

.sp .num1{
    float: right;
    margin-right: 30px;
    
    

}


hr{
   
    margin-top: 2%;
    margin-bottom: 1%;
    border: solid 1px #cc9900;
    clear: both;

}



.khak{

  color: #cc9900;
}





/* section5*/


.section5{

    background-image: url(../images/reviews-background.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    padding-top: 30px;

    padding-right: 30px;

    font-family:'Caveat', cursive ;

    

}



.section5 .black{

    width: 400px;
    height: 300px;
    background-color: black;
    opacity: 0.7;
    text-align: center;


    margin-left: 50%;
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    color: blanchedalmond;
    font-family: 'Satisfy', cursive;
    line-height: 2.3em;
       
    
}



h1,h2,h3,p{
    margin: 0;
}


.section6{

    background-image: url(../images/menu-background.jpeg);
    width: 100%;
    height: 600px;
    display: flex;
}



.maincake{

    display: flex;
    justify-content: space-between;

    width: 500px;
    height: 400px;
    padding-top: 60px;
    padding-left: 60px;


}


.cake1 img{

    width: 90%;


}

 .section6 .rightfood{


    width: 400px;
    height: 600px;

    padding-top: 60px;
    text-align: center;
}


.section6 .rightfood .pic{

    line-height: 3.2em;
    

    font-family: 'Satisfy', cursive;
}


.form{

   

    width: 120%;
    height: 50%;
    margin: 0 auto;
    /* background-color: hotpink; */
}


.form .form-item .item{

    width: 50%;
    display: block;
    margin-bottom: 10px;
    font-family: 'Caveat', cursive ;

    margin-top: 10px;
}


.form-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.btn{
    font-family:'Caveat', cursive ; 
}

/*  */

.footer{

    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 10px;

    font-family:'Caveat', cursive ;
    line-height: 2em;
}

.down{

    color: blanchedalmond;
}



